@use './app/config-scss/variables.scss';
@use './app/config-scss/reset.scss';
@use './app/config-scss/rem-calc.scss';



html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    max-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}