@import './app/config-scss/variables.scss';
@import './app/config-scss/reset.scss';
@import './app/config-scss/rem-calc.scss';
@import './app/config-scss/btn.scss';
@import './app/config-scss/animation.scss';

html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}